/* 第3問：参考サイトと同じになるようにデザイン調整 */
.App {
  padding: 30px;
}

.button {
  background-color: antiquewhite;
}

.label {
  font-weight: bold;
}

.input {
  height: 25px;
}

.label-input {
  display: flex;
  align-items: center;
  gap: 8px;
}

.book-register {
  display: flex;
  gap: 8px;
}

.filterable-book-table {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filterable-book-table > table {
  text-align: center;
}